<!DOCTYPE html>
<html>
<!
Pablo, esse é o viewer, pode tentar fazer por aqui a tabela.
>
  <head>
    <title>Appexample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
